# Default ignored files
.idea/
target/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore binary
*.bin
*.exe

# Ignore log
# *.log
*.log.[1234567890]

# Ignore IntelliJ IDEA Config Files
*.stackdump

# Ignore Picture
*.bmp
#*.png
*.jpg
*.jpeg

# Ignore .doc .pfd .docx
*.doc
*.docx
*.pdf

