<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Smoke API testing with Jackson2 and RestAssured" verbose="1" >

    <test name="UpdateUserDataDTO" >
        <groups>
            <run>
                <include name = "PUT requests" />
            </run>
        </groups>
        <classes>
            <class name = "org.softserve.edu.UpdateUserDataDTO">
            </class>
        </classes>
    </test>

</suite>
