<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Smoke API testing with Jackson2 and RestAssured" verbose="1" >

    <test name="UpdateUserDataDTO" >
        <groups>
            <run>
                <include name = "PUT requests" />
            </run>
        </groups>
        <classes>
            <class name = "org.softserve.edu.TestUpdateUser">
            </class>
        </classes>
    </test>
    <test name="CreateUserDataDTO" >
        <groups>
            <run>
                <include name = "POST requests" />
            </run>
        </groups>
        <classes>
            <class name = "org.softserve.edu.TestCreateUser">
            </class>
        </classes>
    </test>
    <test name="GetUserDataDTO" >
        <groups>
            <run>
                <include name = "GET requests" />
            </run>
        </groups>
        <classes>
            <class name = "org.softserve.edu.TestGetUser">
            </class>
        </classes>
    </test>

</suite>
